#target: local

rtmp:
  archive_path:     ../dev/local/archive
  archive_raw_path: ../dev/local/archive_raw
  recordings_path:  ../dev/local/recordings
faye:
  server: http://localhost:9292/faye
limit:
  text: 2300
  string: 140
errbit:
  enabled: false
  api_key: 'this will be set on the stages in app/shared/config/settings.local.yml'
  environment: 'development'
# set in local!
site_root: 'http://localhost:3000'

fog:
  storage:
    provider: AWS
    region: us-west-2
    aws_access_key_id: AKIAJU3G7GG57NKGRW6Q
    aws_secret_access_key: 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
  compute:
    provider: AWS
    region: us-west-2
    # user: compute
    aws_access_key_id: AKIAJU3G7GG57NKGRW6Q
    aws_secret_access_key: 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

storage:
  backup_recordings: vr-euc1-dev-backup-recordings@eu-central-1
