Hello, find me in
%em
  app/views/admin/talks/edit_audio.html.haml

:javascript
  updateUrl = '';
  audioFile = '';
  revisions = #{(@talk.edit_config || []).to_json};

= javascript_include_tag 'audio_editor/application'
