body.edit_audio {

    .outer {
        width: 100%;
        height: 150px;
        overflow: auto;
    }
    .inner {
        width: 10000px;
        height: 100%;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
    .hover-line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
    }

    .cut-config {
        stroke: blue;
        fill: blue;
        stroke-width: 1px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .black_overlay{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        position: absolute;
        top: 40%;
        left: 40%;
        width: 100px;
        height: 50px;
        padding: 16px;
        border: 3px solid;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }

}